<article>
  <div class="container">
    <div class="box">
      <div class="subBox">
        <h3>Invoice</h3>
        <div class="para">
          <p>
            Create Professional Invoices With Customisable Templates. 1-click
            Share as PDF, Print, or Link over WhatsApp or Email. Record & Track
            Payments. And more...
          </p>
        </div>

        <img src="image/invoice3.webp" alt="invoice" />
        <a routerLink="/app/invoice-form"
          ><button>Create New Invoice</button></a
        >
      </div>
    </div>
  </div>
</article>
