<footer class="footer">
  <div class="footer-container fade-in-start" appScrollAnimation>
    <div class="footer-section fade-in-start" appScrollAnimation>
      <h3><i class="bi-receipt logo"></i> Invoicy</h3>
      <p>
        Effortlessly generate professional invoices, GST e-invoices, e-way
        bills, and quotations with our seamless, user-friendly invoicy.
      </p>
    </div>

    <div class="footer-section fade-in-start" appScrollAnimation>
      <h4>Navigation</h4>
      <ul>
        <li>
          <a href="#"><p>Pricing</p></a>
        </li>
        <li>
          <a href="#"><p>Blog</p></a>
        </li>
        <li>
          <a href="#"><p>Contact</p></a>
        </li>
      </ul>
    </div>

    <div class="footer-section fade-in-start" appScrollAnimation>
      <h4>We Are Social</h4>
      <ul>
        <li>
          <a href="#"><p>Instagram</p></a>
        </li>
        <li>
          <a href="#"><p>Facebook</p></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom fade-in-start" appScrollAnimation>
    <p>© Invoicy. All rights reserved</p>
  </div>
</footer>
