<article class="Dashboard fade-in-start" appScrollAnimation>
  <div class="banner">
    <h1 class="line1">Accounting, Business Intelligence, and Compliance</h1>
    <span class="line2">Your one-stop GST accounting software</span>
  </div>
  <div class="container">
    <div class="header-img fade-in-start" appScrollAnimation>
      <img src="image/invoice2.webp" alt="invoice" />
    </div>
    <div class="main-header fade-in-start" appScrollAnimation>
      <div class="lower-header">
        <h2>Seamless GST Invoicing, E-invoicing, and E-way Bills Creation</h2>
        <p>
          Easily comply with government regulations and create customizable &
          fully compliant GST invoices, e-invoices, e-way bills, quotations, and
          other essential documents via GST Accounting Software.
        </p>
        <div class="btns fade-in-start"
        appScrollAnimation>
          <a routerLink="/register"> Get Started - It’s FREE </a>
        </div>
      </div>
    </div>
  </div>
  <app-accounting></app-accounting>
</article>
