<header>
  <div class="container">
    <!-- Left Content -->
    <div class="header">
      <h1 class="display">Simplest Cloud GST Accounting Software in India</h1>
      <p class="leads">
        Transform your accounting, invoicing, sales, inventory, and other
        business processes with our future-ready platform.
      </p>
      <!-- CTA Buttons -->
      <div class="btns fade-in-start"
      appScrollAnimation>
        <a routerLink="/register" class="btn btn-light btn-lg me-3"
          >Get Started - It’s FREE</a
        >
      </div>
    </div>

    <!-- Right Image -->
    <div class="header-img">
      <img src="image/Invoice.webp" alt="Software Dashboard" />
    </div>
  </div>
</header>
