<article>
  <div class="container">
    <div class="sub-container">
      <div class="name-email">
        <h5>{{ name }}</h5>
        <span>{{ email }}</span>
      </div>
      <div class="log-user">
        <div class="user">
          <i class="bi bi-gear"></i>
          <span><a href="">User Settings</a></span>
        </div>
        <div class="logout">
          <i class="bi bi-box-arrow-in-left"></i>
          <span><a href="">Logout</a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="blogs">
    <ul>
      <li><a href="">Blog</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Privacy</a></li>
      <li><a href="">FAQs</a></li>
    </ul>
  </div>
</article>
