*{
  border: none;
  background: none;
  z-index: 10;
}

.container{
  background: #f9efe6;
width: 50vw;
/* height: 270px; */
border-radius: 10px;
padding: 2rem;
  border: 1px solid #ccc;
  margin-left:400px;
  margin-top: 5px;
}

.heading{
  width: 100%;
  border: 1px solid lightgray;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
    color: #055346;

}
form{
  padding: 0.5rem;
}
p{
  font-size: 1rem;
  font-weight: 400;
  color: gray;
}
.columns{
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.columns input{
  width: 100%;
  margin-bottom: 1rem;
  background: transparent;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
}
.buttons{
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}
.buttons button{
  padding: 0.5rem;
  border-radius: 5px;
  width: 20%;
  background: #ef7a54;
  color: white;
}
.buttons button:hover{
  background-color: #ef7a54;
}

@media screen and (min-width: 128px) and (max-width: 900px) {
  .container{
    width: 100%;
    margin-left:0px;
  margin-top: 0px;
  }
  form{
    width: 100%;
  }
  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .buttons button{
    width: 100%;
  }
  .heading{
    font-size: 1rem;
  }
  dialog{
    width: 100%;
  }
}