<article>
  <div class="container fade-in-start" appScrollAnimation>
    <div class="heading">
      <h1 class="line1">Everything you need in a Invoice Software</h1>
    </div>
    <div class="needs fade-in-start" appScrollAnimation>
      <div class="first-need">
        <div class="invoice">
          <i class="bi-receipt"></i>
          <h5>Invoices</h5>
          <p>
            Create fully customised GST/Non-GST Invoices in seconds - assisted
            by automation.
          </p>
        </div>
        <div class="Quotation">
          <i class="bi-file-earmark icon"></i>
          <h5>Quotation & Estimates</h5>
          <p>
            Create attractive quotations & estimates instantly - share & track
            when clients view them.
          </p>
        </div>
      </div>
      <div class="second-need">
        <div class="EInvoices">
          <i class="bi-cloud-check"></i>
          <h5>E- Invoices</h5>
          <p>
            Create e-invoices instantly with multiple GSTINs, generate IRN & QR
            codes in bulk, and auto-validate data to ensure 100% compliance.
          </p>
        </div>
        <div class="Access">
          <i class="bi-receipt-cutoff"></i>
          <h5>Access Anytime Anywhere</h5>
          <p>
            Easy to use across any device & any place. Completely reliable with
            the highest up-time.
          </p>
        </div>
      </div>
    </div>
  </div>
</article>
